@import './base.css';
@import './reset.css';

.material-symbols-outlined {
  line-height: 1em;
  font-size: 2rem;
  padding: 0;
  vertical-align: bottom;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}